
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<style>
    .form_login {
        width: 45%;
        background-color: rgba(100, 94, 117, 0.274);
        border: 1px dashed black;
        margin: 10% auto;
        text-align: center;
        padding: 20px;
        padding-top: 0;
    }

        .form_login input {
            outline: none;
            border: none;
            background-color: rgba(100, 94, 117, 0.274);
            border-bottom: 1px solid rgb(160, 17, 17);
            font-size: 25px;
        }

            .form_login input::placeholder {
                color: gray;
            }

        .form_login button {
            background-color: gray;
            font-size: 20px;
            width: 100px;
            height: 100px;
            font-weight: 700;
        }

        .form_login a {
            color: gray;
        }
</style>
<table class="form_login" width="100%" align="center">
    <tr>
        <th colspan="3" class="text-center"><h1>Đăng nhập</h1></th>
    </tr>
    <tr><th id="err" colspan="3"></th></tr>
    <tr>
        <th><h2>Tài khoản</h2></th>
        <td><input type="text" id="uid" placeholder="Nhập tài khoản..." /></td>
        <th rowspan="2"><button onclick="login()">Đồng ý</button></th>
    </tr>
    <tr>
        <th><h2>Mật khẩu</h2></th>
        <td><input type="password" id="pw" placeholder="Nhập mật khẩu..." /></td>
    </tr>
</table>
@section login{
    <script type="text/javascript">
        function login() {
            var uid = $("#uid").val();
            var pw = $("#pw").val();
            if (uid == "" || pw == "") {
                $("#err").html("Vui lòng nhập đầy đủ thông tin!!!");
                $("#err").css("color", "red");
            } else {
                var form = new FormData();
                form.append("uid", uid);
                form.append("pw", pw);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/Admin/ActionLogin", true);
                xhr.onreadystatechange = function () {
                    if (xhr.status == 200 && xhr.readyState == 4) {
                        var content = xhr.responseText;
                        var js = JSON.parse(content);
                        if (js.Data.status == "OK") {
                            $("#err").html("Đăng nhập thành công!!!");
                            $("#err").css("color", "green");
                            location.reload();
                        } else if (js.Data.status == "ER") {
                            $("#err").html("Tài khoản bị khóa!!!");
                            $("#err").css("color", "red");
                        } else {
                            $("#err").html("Tài khoản hoặc mật khẩu sai!!!");
                            $("#err").css("color", "red");
                        }
                    }
                }
                xhr.send(form);
            }
        }
    </script>
}


